.container-fluid {
    background-color: #3a5a40;
}

.form-control {
    margin: 10px;
    border-radius: 25px;
}

.btn {
    margin: 5px
}

.nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
}


.li :hover {
    background-color: white;
    color: black;
}

