<div class="container">
    @if(productosFavoritos.length === 0){
    <p style="display: flex; justify-content: center;">No hay productos en favoritos</p>
    }

    @for (p of productosFavoritos ;track p.id) {
    @if (p.disponibilidad) {
    <div class="card" style="width: 18rem;">
        <img src="{{p.img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{p.nombre}}</h5>
            <p class="card-text">{{p.escritor}}</p>
            <p class="card-text"><b>${{p.precio}}</b></p>
            <a class="btn btn-primary" (click)="agregarCarrito(p)">Agregar al carrito</a>
            <a class="btn btn-primary" (click)="eliminar(p.id)">eliminar</a>
        </div>
    </div>
    }
    }
</div>