.container {
    display: flex;
    justify-content: end;
}

.btn {
    display: flex;
    margin: 3px;
}

.img {
    max-height: 20px;
    max-width: 10px;
    width: 100%auto;
    height: 100%auto;
}