.container {
    display: flex;
    justify-content: space-between;
}

.card {
    object-fit: cover;
    overflow: hidden;
    height: 250px;
}

.card img {
    object-fit: cover;
    overflow: hidden;
    height: 250px;
    width: 300px;
}